<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Progress Inspection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <!-- <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css"> -->
  <!-- <script src="../js/angularJS/angular.min.js"></script> -->
  <script src="../js/angularJS/angular.js"></script>
  <script src="../js/angularJS/angular-animate.js"></script>
  <script src="../js/angularJS/ui-bootstrap-tpls-1.3.3.js"></script>
  <script src="../js/angularJS/angular-sanitize.js"></script>
  <script src="../js/angularJS/ng-flow-standalone.js"></script>
  <script src="../js/angularJS/signature_pad.js"></script>
  <script src="../js/angularJS/ng-signature-pad.js"></script>
  <script src="../js/angularJS/util.js"></script>
  <script src="../js/angularJS/app.js"></script>
  <!-- <script src="../js/angularJS/appSign.js"></script> -->
  <script src="../js/angularJS/ConstructionStageController.js"></script>
  <script src="../js/jquery/1.12.4/jquery.min.js"></script>
  <script src="../js/angularJS/appSigPad.js"></script>
  <script src="../js/angularJS/appPhotosController.js"></script>
  <script src="../js/angularJS/datePicker.js"></script>
  <script src="../js/bootstrap/bootstrap.min.js"></script>
  <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">  
  <script src="../js/nasform/form.js"></script>
  <link href="../css/style.css" rel="stylesheet"/>

  <!-- For dialog -->
  <link rel="stylesheet" href="../css/jquery-ui.css">
  <script src="../js/jquery/1.12.4/jquery-1.12.4.js"></script>
  <script src="../js/jquery/1.12.4/jquery-ui.js"></script>

 <script>
//	The following varibale list are global ones.
 	var formView = new FormView();
 	var appReqNum = getQueryVariable("appReqNum");
 	var formId = getQueryVariable("formId");
 	var countryCode = getQueryVariable("countryCode");
 	var formLanguage = getQueryVariable("formLanguage");
 	  	  
</script>
<script>  
	$(document).ready(function(){

	    $("#completeBtn").click(function(){
	    	//debugger;
	    	if(validateFormField(formView.getRequiredField())) {
	    		console.log("Begin to submit the completed report..");
	    		$('#loading-indicator').show();
	    		
		        $.post("../../servlet/com.visionmax.servlet.CommandServlet?command=submitform&isGuide=Yes&process=complete",
		        {xmlData: createXML("complete", formView)},
		        function(data,status){
//		            console.log("Data: " + data + "\nStatus: " + status);
			        $('#loading-indicator').hide();
			        $("#tab_area").hide();
			        $("#title_area").hide();			        
			        $("#message_area").html("<p><font size='5'>Your report has been submitted successfully!</font></p>");
			        $("#message_area").show();
//			        popUpMsg("confirmSubmit", "Your report has been submitted successfully!");
		        });	
		        
	    	} else {		    		
		    		popUpMsg("confirmSubmit", "Please fill the required field!");
		    }

	    });
	    $("#saveBtn").click(function(){
	    	$('#loading-indicator').show();
	        $.post("../../servlet/com.visionmax.servlet.CommandServlet?command=submitform&isGuide=Yes&process=save",
	        {xmlData: createXML("save", formView)},
	        function(data,status){
//	            console.log("Data: " + data + "\nStatus: " + status);
				$('#loading-indicator').hide();
				popUpMsg("confirmSubmit", "Your form data has been saved successfully!");
	        });	        
	    });	
	    
	    $("#previewBtn").click(function(event) {
	    	
	    	$("#previewBtn").attr('value', 'Preview');
	    	
	    	if($("#tab_area").is(':visible')) {
	    		
				$('#tab_area').toggle('show');
				$('#loading-indicator').show();
	    		
		        $.post("../../servlet/com.visionmax.servlet.CommandServlet?command=previewpdf&formId="+formId+"&appReqNum="+appReqNum+"&process=preview",
		    	        {xmlData: createXML("preview", formView)},
		    	        function(data, status){
		    	        	if(status == "success") {	 
		    	        		console.log("PDF has been created in file server.");
		    	        		
		    					event.preventDefault();
		    					var obj       = $("#pdf_obj");
		    					var objdata   = $(obj).attr('data');
		    					var container = $(obj).parent();
		    								
		    					var newUrl = "../../servlet/com.visionmax.servlet.CommandServlet?command=getfilestream&appReqNum="+appReqNum;
		    					
		    		//			var newUrl = "../data/test1.pdf";
		    					
		    					$(obj).attr('data', newUrl);
		    							    					
		    					console.log("objdata:" + $(obj).attr('data'));
		    					
		    					var newobj    = $(obj).clone();
		    					$(obj).remove();
		    					$(container).append( newobj );
		    					
		    					$('#pdf_area').toggle('show');
		    					
		    					$('#loading-indicator').hide();
		    					
		    					$("#previewBtn").attr('value', 'Close Preview');
		    					
		    					console.log("PDF loading is done.");		    	        		
		    	        		
		    	        		
		    	        	}
		    	        });	    		
	    			    	
			
	    	} else {
		         $('#tab_area').toggle('show');
		         $('#pdf_area').toggle('show');	
	    	}			

	    		    	
	    });	
	    
	    //Init location map section.
	    $('.nav-pills a[href="#menu9"]').click(function(event) {
	    	console.log("Enter location map..");
			
			var good = true;
			
			var sTmp = "";
			var sAddress = "";
			var sMarkers = "";
			var sZoom = 15;
			
			sTmp = trimString(document.getElementById("pi_property_address").value);
			if (sTmp == "") {
				console.log("An address must be entererd, to display on the map");
				good = false;
			}
			sAddress = sTmp;
			
			sTmp = trimString(document.getElementById("pi_subj_city").value);
			if (sTmp == "") {
				console.log("A city must be entererd, to display on the map");
				good = false;
			}
			sAddress += "," + sTmp;
			
			sTmp = trimString(document.getElementById("pi_subj_province").value);
			if (sTmp == "") {
				console.log("A province must be entererd, to display on the map");
				good = false;
			}
			sAddress += "," + sTmp;
			
			sTmp = trimString(document.getElementById("pi_subj_postal_code").value);
			if (sTmp != "") {
				sAddress += "," + sTmp;
			}

			sMarkers = "color:red|label:S|" + sAddress;			
						
			var newUrl = "../../GoogleURLSigner?center=" + sAddress + "&markers=" + sMarkers;
			
//			console.log("newUrl:" + newUrl);
			
			newUrl = newUrl + "&timestamp=" + new Date().getTime();

			if(good) {
//				$(obj).attr('src', newUrl);
				
//				debugger;
				
				var getURL = 
					function getURL(sData) {
						$("#locationmap_image").val(sData);
					}
				var sData = convertImgToDataURLviaCanvas(newUrl, getURL, "mapCanvas");
												
				console.log("Location Map Base64 data: " + sData);				
				
			} else {
				console.log("Property address information is incorrect!");
			}	

						
	    })
	    
	    //The following code will get all of initial fields and its value for form.
		$.get("../../CommandServlet?command=getdocjson&appReqNum="+appReqNum, function(data, status){
	
//			console.log("json fields:" + data);			
			
			var obj = JSON.parse(data);
						
			formView.setFormFields(obj);	
			
			initForm(formView.getFormFields());
			
			//Init password fields.
			var oList = {
					"app_password2" : 	"31035aaca4",
					"super_password2":	"31035aaca4"
			}	
			
			formView.updateFormFields(oList);
			
//			console.log(JSON.stringify(formView.getFormFields()));			
		});	
		
		//The following code will get the required field information in JSON.
		$.get("../../CommandServlet?command=getformjson"
					+ "&formId="		+	formId
					+ "&countryCode="	+	countryCode
					+ "&formLanguage="	+	formLanguage
					+ "&colName="   	+	"required_field_json", 
					function(data, status){
			
//			console.log("json fields:" + data);			
			
			var obj = JSON.parse(data);
			
			formView.setRequiredField(obj);	
						
//			console.log(JSON.stringify(formView.getRequiredField()));			
		});
		

		//The following code will populate all of dropdown menu with JSON saved in database.
		oDropdownField = {
			"client_province" : "province_json",
			"appraiser_province": "province_json"
		};
		
		var dropDownFieldList = Object.keys(oDropdownField);
		
		
		var getDropdownFunc = 
			function getDropdownFunc(asVal) {
//				console.log("drop down list:" + asVal);
				var oDropdown = $("#" + dropDownFieldList[0]);
				populateDropDown(oDropdown, asVal);
			};
			
		
		getFormJSON(formId, countryCode, formLanguage, oDropdownField[dropDownFieldList[0]], getDropdownFunc);

		
//		End of document ready.		
		
	});	
</script>

<style type="text/css"> 
	table, td  {
	  border: 1px solid grey;
	  border-collapse: collapse;
	  padding: 5px;
	}
	#consturctionStage tr:nth-child(even){
			background-color: #f1f1f1;
	}
	.labelForInput {
	    background:rgba(0,0,0,0);
	    border:none;
	    width:350px;
	    display:block;
	}	
	
	.content {
	   width: 100%;
	   height: 100%;
	   margin: 0px auto;
	}
	
	.embed-container {
	   height: 0;
	   width: 100%;
	   padding-bottom: 66.25%; /* play with this until right */
	   overflow: hidden;
	   position: relative;
	}
	
	.embed-container iframe {
	   width: 65%;
	   height: 100%;
	   position: absolute;
	   top: 0;
	   left: 0;
	}
	
	.centerDiv {
	     position: absolute;
	     top: 50%;
	     height: 400px;
	     margin-top: -100px; /* Half of the height */
	     left: 50%;
	     width:800px;
	     margin-left: -400px; /* Half of the width */
	     border-radius: 5px;
	     padding:10px;
	 }	
	
	textarea {
	    resize: none;
	}
		
</style> 

</head>


<body ng-app="myApp" ng-controller="mainController" flow-init flow-prevent-drop resize>
<div class="container">
  <div id="message_area" class="centerDiv" style="display: none"></div>
  <div id="title_area">
	  <span>
		  <p>
			  <font size="5">Progress Inspection</font>&nbsp;&nbsp;&nbsp;
			  <button id="saveBtn"><font size="2">Save</font></button>
			  <input id="completeBtn" type="submit" value="Complete">
			  <input id="previewBtn" type='button' value='Preview'>	
			  <img id="loading-indicator" src="../../assets/img/loading.gif" style="display: none">	 
		  </p>	
	
	  </span>
  </div>
  <br>
  <span>Appraiser Signature isSigned() = {{isAppraiserSigned()}}</span>
  <br>
  <div id="tab_area">
	  <ul  class="nav nav-pills">
	    <li class="active"><a data-toggle="pill" href="#home">HOME</a></li>
	    <li><a data-toggle="pill" href="#menu1">CLIENT</a></li>
	    <li><a data-toggle="pill" href="#menu2">APPRAISER</a></li>
	    <li><a data-toggle="pill" href="#menu3">PROPERTY</a></li>
	    <li><a data-toggle="pill" href="#menu4">SERVICES</a></li>
	    <li><a data-toggle="pill" href="#menu5">CONSTRUCTION STAGE</a></li>    
	    <li><a data-toggle="pill" href="#menu6">COST</a></li>  
	    <li ng-click="redrawCanvas()"><a data-toggle="pill" href="#menu7">CERTIFICATION</a></li>
	    <li><a data-toggle="pill" href="#menu8">PHOTO</a></li>
	    <li><a data-toggle="pill" href="#menu9">LOCATION MAP</a></li>    
	  </ul>
	  
	  <div class="tab-content">
		<div id="home" class="tab-pane fade in active">
	    	<br>
			<h4>Client Reference No.:</h4>
			<input type="text" id="reference_number"  style="width: 536px; ">
			<h4>Progress Inspection No.:</h4>
			<input type="text" id="pi_number" style="width: 536px; ">	
			<h4>File No.:</h4>
			<input type="text" id="doc_number" style="width: 536px; ">	
			<h4>NAS No.:</h4>
			<input type="text" id="file_number" style="width: 270px; ">	
			<br><br>
				  		  		
		</div>  
	    <div id="menu1" class="tab-pane fade">
	    	<br>
			<h4>Client:</h4>
			<input type="text" id="client_name" style="width: 536px; ">
			<h4>Attention:</h4>
			<input type="text" id="client_attention" style="width: 536px; ">	
			<h4>Address:</h4>
			<input type="text" id="client_address" style="width: 536px; ">	
			<h4>City:</h4>
			<input type="text" id="client_city" style="width: 270px; ">	
			<h4>Province:</h4>
			<select id="client_province" style="width: 270px; ">
				<option value=""></option>
			</select>	
			<h4>Postal Code:</h4>
			<input type="text" id="client_postal_code" style="width: 270px; ">	
			<h4>Phone:</h4>
			<input type="text" id="client_phone" pstyle="width: 240px; ">	
			<h4>Email:</h4>
			<input type="text" id="client_email" style="width: 500px; ">	
				
											
	    </div>
	    <div id="menu2" class="tab-pane fade">
	    	<br>
			<h4>Appraiser:</h4>
			<input type="text" id="appraiser_name" ng-model="appraiser_name" style="width: 536px; ">
			<h4>Company:</h4>
			<input type="text" id="appraiser_company" style="width: 536px; ">	
			<h4>Address Line1:</h4>
			<input type="text" id="appraiser_address" style="width: 536px; ">	
			<h4>Address Line2:</h4>
			<input type="text" id="appr_address1" style="width: 536px; ">			
			<h4>City:</h4>
			<input type="text" id="appraiser_city" style="width: 270px; ">	
			<h4>Province:</h4>
			<input type="text" id="appraiser_province" style="width: 270px; ">
			<h4>Postal Code:</h4>
			<input type="text" id="appraiser_postal_code" style="width: 270px; ">	
			<h4>Phone:</h4>
			<input type="text" id="appraiser_phone" style="width: 240px; ">	
			<h4>Email:</h4>
			<input type="text" id="appraiser_email" style="width: 500px; ">	
	    </div>
	    <div id="menu3" class="tab-pane fade">
	    	<br>
			<h4>Applicant's Name:</h4>
			<input type="text" id="pi_subject_name" style="width: 536px; ">
			<h4>Property Address:</h4>
			<input type="text" id="pi_property_address" style="width: 536px; ">	
			<h4>City:</h4>
			<input type="text" id="pi_subj_city" style="width: 536px; ">	
			<h4>Province:</h4>
			<input type="text" id="pi_subj_province" style="width: 536px; ">			
			<h4>Postal Code:</h4>
			<input type="text" id="pi_subj_postal_code" style="width: 270px; ">	
	        <br>
	        <h4>Property Type:</h4>
		    <input type="radio" name="pi_construction_type" id="pi_construction_type" value="Renovation / Improvements" checked> Renovation/Improvements<br>
		    <input type="radio" name="pi_construction_type" id="pi_construction_type" value="New Construction"> New Constructionr<br>        
	        <br>
	        <h4>Occupied:</h4>         
	        <input type = "radio"
	        	   name = "pi_occupied"
	               id = "pi_occupied"
	               value = "Yes"
	               checked = "checked" />
	        <label for = "sizeYes">Yes</label>        
	        <input type = "radio"
	               name = "pi_occupied"
	               id = "pi_occupied"
	               value = "No" />
	        <label for = "sizeNo">No</label>        
	    </div>
	    <div id="menu4" class="tab-pane fade">
	      <br>
	      <h4>Completed:</h4>       
		  <input type="checkbox" id="pi_septic_installed" value="1"> Septic<br>
		  <input type="checkbox" id="pi_sanitary_installed" value="1"> Sanitary Sewer<br>
		  <input type="checkbox" id="pi_storm_installed" value="1"> Storm Sewer<br>
		  <input type="checkbox" id="pi_municipal_installed" value="1"> Municipal Water<br>
		  <input type="checkbox" id="pi_well_installed" value="1"> Well<br>
		  <input type="checkbox" id="pi_curb_installed" value="1"> Curb and Gutter<br>
		  <input type="checkbox" id="pi_paved_installed" value="1"> Paved Road<br>
		  <input type="checkbox" id="pi_sidewalk_installed" value="1"> Sidewalk<br>
	    </div>
	    <div id="menu5" class="tab-pane fade">
			<div  ng-controller="constructionStageCtrl"> 
			<br>
			<!--  
			<input type="hidden" id="constructionStageLen" value="{{constructionStage.length}}">   	
			-->	
			<table id="consturctionStage">
				<thead>
					<tr>
						<td>CONSTRUCTION STAGE</td>
						<td>ALLOWED</td>
						<td>COMPLETED</td>
						<td>TOTAL COMPLETED</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in constructionStage">
					  <td><input id="construction_stage_title_{{$index+1 | numberFixedLen:2}}" width="100px" type="text" class="labelForInput" disabled ng-readonly="true" ng-model="x.StageDesc" /></td>
					  <td><input id="construction_stage_allowed_{{$index+1 | numberFixedLen:2}}" type=number ng-model="x.Allowed"/></td>
					  <td><input id="construction_stage_complete_{{$index+1 | numberFixedLen:2}}" type=number ng-model="x.Completed "/></td>
					  <td><input id="construction_stage_total_complete_{{$index+1 | numberFixedLen:2}}" type=number ng-model="x.TotalCompleted"/></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Total</td>
						<td>{{constructionStage | sumOfValue:'Allowed'}}</td>
						<td colspan="2"></td>
					</tr>
				</tfoot>
			</table>			
			</div>
	    </div>    
	    <div id="menu6" class="tab-pane fade">
		  <h4>Total Cost of Construction: $ </h4>
		  <input type="text" id="pi_total_cost_of_construction"  style="width: 536px; ">	
		  <h4>Estimated Cost to Complete: $ </h4>
		  <input type="text" id="pi_estimated_cost_to_complete"  style="width: 536px; "> 
		  <br><br>	
	      <h4>COMPLIANCE: </h4>
	      <p>The following schedule applies to advance draws provided that construction is proceeding as per plans, specifications, <br>and costs remain unchanged from the original appraisal report. 
	      <input type = "radio"
	             name = "pi_compliance"
	             id = "pi_compliance"
	             value = "Yes"
	             checked = "checked" />
	      <label for = "sizeYes">Yes</label>        
	      <input type = "radio"
	             name = "pi_compliance"
	             id = "pi_compliance"
	             value = "No" />             
	      <label for = "sizeNo">No</label> 
	      </p>
	      <br>
	      <h4>COMMENTS: </h4>	
	      <textarea id="pi_comments" rows="5" cols="125">
		  </textarea>       
	    </div>
	    <div id="menu7" class="tab-pane fade" watchvisible>
			<div class="container">
				<hr class="soften"/>
					<div class="signature-container">
						<div class="signature-wrapper" ng-controller="sig-pad as appraiserSignature">
							<h4>Appraiser Signature</h4>
						  	<div id='signature-pad' class="m-signature-pad break" >
						  		<div class="m-signature-pad--body" >
									<canvas redraw ng-signature-pad="signature" ng-hide="isSigned()"></canvas>
									<img ng-src="{{isSigned()?signature.toDataURL():''}}" ng-hide="!isSigned()">
									<input id="appraiser_signature" name="appraiser_signature" type="hidden" ng-value="singatureB64()"/>
						  		</div>
					  			<div class="m-signature-pad--footer">
									<div class="description">Sign above</div>
									<!-- <button type="button" class="button clear" data-action="clear">Clear</button> -->
									<!-- <button type="button" class="button save" data-action="save">Save</button>  --> 			
									<a class="btn clear" ng-click="clear()" ng-disabled="isSigned()">Clear</a>
									<a class="btn save" ng-click="sendData($event)" ng-disabled="isSigned()">Sign</a>
									<p ng-hide="true">Signature Result: {{signatureResult.result}}</p>
					  			</div>
						  	</div>
						  	<div class="break signature-details" >
							  	<div class='signature-password'>
							  		<fieldset ng-disabled="false">
							  		<label for="app_password1">Appraiser Password:</label>
							  		<input type="password" id="app_password1" name="app_password1" ng-blur="password1Exit('appraiser')" ng-model="password1" ng-init="password1Exit('appraiser')"/>
							  		</fieldset>
							  		<br>
							  		<input type="password" id="app_password2" name="app_password2" ng-model="password2" ng-hide="true"/>
							  	</div>
							  	<fieldset ng-disabled="isAppraiserSigned()">						  	
							  		<label for="id_appraiser_name">Name:</label><input id="id_appraiser_name" name="id_appraiser_name" type="text" ng-value="appraiser_name" ng-readonly="true"/>
							  		<br>
							  		<label for="appraiser_designation">Designation:</label>
							  		    <select id="appraiser_designation" name="appraiser_designation">
							  		    	  <option value=""></option>
										      <option value="AACI">AACI</option>
										      <option value="CANDIDATE">CANDIDATE</option>
										      <option value="CRA">CRA</option>
										      <option value="1">DAC</option>
										      <option value="0">DAR</option>
										      <option value="E.A.">E.A.</option>
										      <option value="Other ...">Other ...</option>
	    								</select>
	    							<br>
	    							<label for="app_aic_member_number">Member #:</label>
	    							<input type="text" name="app_aic_member_number" id="app_aic_member_number" ng-model="app_aic_member_number"/>
	    							<br>
	    							<div class='row' ng-controller="datePickerController">
		    							<!-- <input type="text" id="date_signed_appraiser" name="date_signed_appraiser"> -->
	 	    							<label for="date_signed_appraiser" class="col-xs-3 col-form-label vcenter">DATE SIGNED:</label>
	 	    							<div class="col-xs-4 input-group vcenter">
		 	 								<input id="date_signed_appraiser" name="date_signed_appraiser" type="text" 
												class="form-control" uib-datepicker-popup="{{format}}" ng-model="date_signed_appraiser" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
											<span class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
										</div>
	 								</div>
	    							<div class='row' ng-controller="datePickerController">
		    							<label for="appraiser_date_inspection" class="col-xs-3 col-form-label vcenter">Date of Inspection:</label>
	 	    							<div class="col-xs-4 input-group vcenter">
		    								<input type="text" id="appraiser_date_inspection" name="appraiser_date_inspection"
	   								   			class="form-control" uib-datepicker-popup="{{format}}" ng-model="date_signed_appraiser" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
											<span class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
										</div>
									</div>    							   
	    							<br>
	    							<label for="appraiser_license_info">LICENSE INFO (where applicable):</label>
	    							<input id="appraiser_license_info" name="appraiser_license_info" type="text">
	    							<br>
	    							<label>NOTE: For this appraisal to be valid, an original or a password protected digital signature is required.</label>
							  	</fieldset>
						  	</div>
					   </div>				  	
						<div class="signature-wrapper">
							<h4>Supervisor Signature</h4>
						  	<div id='signature-pad' class="m-signature-pad break" ng-controller="sig-pad">
						  		<div class="m-signature-pad--body">
									<canvas redraw ng-signature-pad="signature"></canvas>
									<input id="supervisor_signature" name="supervisor_signature" type="hidden" ng-value="signatureB64()"/>
						  		</div>
					  			<div class="m-signature-pad--footer">
									<div class="description">Sign above</div>
									<!-- <button type="button" class="button clear" data-action="clear">Clear</button> -->
									<!-- <button type="button" class="button save" data-action="save">Save</button>  --> 			
									<a class="btn clear" ng-click="clear()">Clear</a>
									<a class="btn save" ng-click="sendData($event)">Sign</a>
									<p ng-hide="true">Signature Result: {{signatureResult.result}}</p>
					  			</div>
						  	</div>
						  	<div class="break signature-details">
						  		<label for="super_appraiser_name">Name: </label><input id="super_appraiser_name" name="super_appraiser_name" type="text"/>
						  		<br>
						  		<label for="super_appraiser_designation">Designation: </label>
						  		    <select id="super_appraiser_designation" name="super_appraiser_designation" ng-model="super_aic_member_number">
						  		    	  <option value=""></option>
									      <option value="AACI">AACI</option>
									      <option value="CANDIDATE">CANDIDATE</option>
									      <option value="CRA">CRA</option>
									      <option value="1">DAC</option>
									      <option value="0">DAR</option>
									      <option value="E.A.">E.A.</option>
									      <option value="Other ...">Other ...</option>
    								</select>
    							<br>
    							<label for="super_aic_member_number">Member #: </label>
    							<input type="text" name="super_aic_member_number" id="super_aic_member_number" ng-model="super_aic_member_number"/>
    							<div class='row' ng-controller="datePickerController">
	    							<label for="super_appraiser_date_signed" class="col-xs-3 col-form-label vcenter">DATE SIGNED: </label>
 	    							<div class="col-xs-4 input-group vcenter">
		    							<input type="text" id="super_appraiser_date_signed" name="super_appraiser_date_signed"
		    								class="form-control" uib-datepicker-popup="{{format}}" ng-model="date_signed_appraiser" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
										<span class="input-group-btn">
										  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
		    						</div>
	    						</div>
    							<div class='row' ng-controller="datePickerController">
	    							<label for="super_appraiser_date_inspection" class="col-xs-3 col-form-label vcenter">Date of Inspection: </label>
 	    							<div class="col-xs-4 input-group vcenter">
	    								<input type="text" id="super_appraiser_date_inspection" name="super_appraiser_date_inspection"
		    								class="form-control" uib-datepicker-popup="{{format}}" ng-model="date_signed_appraiser" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
										<span class="input-group-btn">
										  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
	    							</div>
    							</div>
    							<br>
    							<label for="super_appraiser_date_signed">DATE SIGNED: </label>
    							<input type="text" id="super_appraiser_date_signed" name="super_appraiser_date_signed">
    							<br>
    							<label for="super_appraiser_date_inspection">Date of Inspection: </label>
    							<input type="text" id="super_appraiser_date_inspection" name="super_appraiser_date_inspection">
    							<br>
    							<label for="super_appraiser_license_info">LICENSE INFO (where applicable):</label>
    							<input id="super_appraiser_license_info" name="super_appraiser_license_info" type="text">
    							<br>
    							<label>NOTE: For this appraisal to be valid, an original or a password protected digital signature is required.</label>
						  	</div>
					   </div>				  	

				</div>  
			</div>
	    </div>
	    <div id="menu8" class="tab-pane fade" >
			<span class='allowed-photos' >Only PNG,GIF,JPG files allowed.</span>
	    	<div class="photos-container">
		 		<div class="photo-wrapper"  ng-controller="photosController" 
		 			flow-init
			      	flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
			      	flow-files-submitted="$flow.upload()"
		 			flow-file-added="someHandlerMethod($file, $event, $flow)">
					<h4 class='photo-title'>Photo 1</h4>
			 		<div class="property-photo" ng-hide="$flow.files.length" 
				       flow-drop flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img src="../image/drag-and-drop-photo.png" />
				  	</div>
				  	<div class="property-photo" flow-drop ng-show="$flow.files.length"
				  		flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img style="max-height:100%" flow-img="$flow.files[0]" />
				        <input id="additional_image1" name = "additional_image1" type="hidden" ng-value="imageStringB64"/>					    	
				  	</div>
				  	<div>
					    <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
					    <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
					    <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
					       ng-click="$flow.cancel()">
					      Remove
				    	</a>
					</div>
					<div class='photo-description'>
					  	<label class='description-lbl' for='additional_image_describe1'>Description: </label>
					  	<input class='description' id='additional_image_describe1' name='additional_image_describe1' type="text" />
					</div>
			  	</div>
		 		<div class="photo-wrapper"  ng-controller="photosController" 
		 			flow-init
			      	flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
			      	flow-files-submitted="$flow.upload()"
		 			flow-file-added="someHandlerMethod($file, $event, $flow)">
					<h4 class='photo-title'>Photo 4</h4>
			 		<div class="property-photo" ng-hide="$flow.files.length" 
				       flow-drop flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img src="../image/drag-and-drop-photo.png" />
				  	</div>
				  	<div class="property-photo" flow-drop ng-show="$flow.files.length"
				  		flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img style="max-height:100%" flow-img="$flow.files[0]" />
				        <input id="additional_image4" name = "additional_image4" type="hidden" ng-value="imageStringB64"/>					    	
				  	</div>
				  	<div>
					    <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
					    <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
					    <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
					       ng-click="$flow.cancel()">
					      Remove
				    	</a>
					</div>
					<div class='photo-description'>
					  	<label class='description-lbl' for='additional_image_describe4'>Description: </label>
					  	<input class='description' id='additional_image_describe4' name='additional_image_describe4' type="text" />
					</div>
			  	</div>
		 		<div class="photo-wrapper"  ng-controller="photosController" 
		 			flow-init
			      	flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
			      	flow-files-submitted="$flow.upload()"
		 			flow-file-added="someHandlerMethod($file, $event, $flow)">
					<h4 class='photo-title'>Photo 2</h4>
			 		<div class="property-photo" ng-hide="$flow.files.length" 
				       flow-drop flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img src="../image/drag-and-drop-photo.png" />
				  	</div>
				  	<div class="property-photo" flow-drop ng-show="$flow.files.length"
				  		flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img style="max-height:100%" flow-img="$flow.files[0]" />
				        <input id="additional_image2" name = "additional_image2" type="hidden" ng-value="imageStringB64"/>					    	
				  	</div>
				  	<div>
					    <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
					    <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
					    <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
					       ng-click="$flow.cancel()">
					      Remove
				    	</a>
					</div>
					<div class='photo-description'>
					  	<label class='description-lbl' for='additional_image_describe2'>Description: </label>
					  	<input class='description' id='additional_image_describe2' name='additional_image_describe2' type="text" />
				  	</div>
			  	</div>
		 		<div class="photo-wrapper"  ng-controller="photosController" 
		 			flow-init
			      	flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
			      	flow-files-submitted="$flow.upload()"
		 			flow-file-added="someHandlerMethod($file, $event, $flow)">
					<h4 class='photo-title'>Photo 5</h4>
			 		<div class="property-photo" ng-hide="$flow.files.length" 
				       flow-drop flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img src="../image/drag-and-drop-photo.png" />
				  	</div>
				  	<div class="property-photo" flow-drop ng-show="$flow.files.length"
				  		flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img style="max-height:100%" flow-img="$flow.files[0]" />
				        <input id="additional_image5" name = "additional_image5" type="hidden" ng-value="imageStringB64"/>					    	
				  	</div>
				  	<div>
					    <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
					    <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
					    <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
					       ng-click="$flow.cancel()">
					      Remove
				    	</a>
					</div>
					<div class='photo-description'>					
					  	<label class='description-lbl' for='additional_image_describe5'>Description: </label>
					  	<input class='description' id='additional_image_describe5' name='additional_image_describe5' type="text" />
					</div>
			  	</div>
		 		<div class="photo-wrapper"  ng-controller="photosController" 
		 			flow-init
			      	flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
			      	flow-files-submitted="$flow.upload()"
		 			flow-file-added="someHandlerMethod($file, $event, $flow)">
					<h4 class='photo-title'>Photo 3</h4>
			 		<div class="property-photo" ng-hide="$flow.files.length" 
				       flow-drop flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img src="../image/drag-and-drop-photo.png" />
				  	</div>
				  	<div class="property-photo" flow-drop ng-show="$flow.files.length"
				  		flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img style="max-height:100%" flow-img="$flow.files[0]" />
				        <input id="additional_image3" name = "additional_image3" type="hidden" ng-value="imageStringB64"/>					    	
				  	</div>
				  	<div>
					    <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
					    <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
					    <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
					       ng-click="$flow.cancel()">
					      Remove
				    	</a>
					</div>
					<div class='photo-description'>
					  	<label class='description-lbl' for='additional_image_describe3'>Description: </label>
					  	<input class='description' id='additional_image_describe3' name='additional_image_describe3' type="text" />
					</div>
			  	</div>
		 		<div class="photo-wrapper"  ng-controller="photosController" 
		 			flow-init
			      	flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
			      	flow-files-submitted="$flow.upload()"
		 			flow-file-added="someHandlerMethod($file, $event, $flow)">
					<h4 class='photo-title'>Photo 6</h4>
			 		<div class="property-photo" ng-hide="$flow.files.length" 
				       flow-drop flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img src="../image/drag-and-drop-photo.png" />
				  	</div>
				  	<div class="property-photo" flow-drop ng-show="$flow.files.length"
				  		flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">
				    	<img style="max-height:100%" flow-img="$flow.files[0]" />
				        <input id="additional_image6" name = "additional_image6" type="hidden" ng-value="imageStringB64"/>					    	
				  	</div>
				  	<div>
					    <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
					    <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
					    <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
					       ng-click="$flow.cancel()">
					      Remove
				    	</a>
					</div>
					<div class='photo-description'>
					  	<label class='description-lbl' for='additional_image_describe6'>Description: </label>
					  	<input class='description' id='additional_image_describe6' name='additional_image_describe6' type="text" />
					</div>
			  	</div>

			</div>
	    </div>
	    <div id="menu9" class="tab-pane fade" >
	    	<canvas id="mapCanvas"></canvas>
	    	 <input id="locationmap_image" name = "locationmap_image" type="hidden" value=""/>
	    </div>	    
	  </div>
  </div>


  <div id="pdf_area" style="display: none">	
	<object id= "pdf_obj" data="" width="850" height="950">
	</object>  
  </div>  
  
  <!--
  <div id="pdf_area" class="content" style="display: none">
    <div class="embed-container">
        <iframe id= "pdf_obj" src=""></iframe>   
    </div>
  </div>  
  -->
      
</div>

<!-- For submission dialog use -->
<div id="confirmSubmit" title="Submit" style="display:none;">
   <p align="left"><span class="ui-icon ui-icon-info" style="margin:0 7px 20px 0;"></span>"test msg!"</p>
</div>

</body>
</html>